@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz@10..100&display=swap');
.card-container {
  background-color: white;
  width: 280px;
  height: 500px;
  border: solid 1px red;
  border-radius: 4px;
  color: black;
  margin: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .card-title {
    font-size: 24px;
    margin: 10px 0;
  }

  .card-apellido {
    font-size: 24 px;
    margin-top: 10px 0;
  }
  
  
  .card-subtitle {
    font-size: 16px;
    color: #0a0a0a;
  }
  
 
  .card-image {
    margin-top: 20px;
    margin: 0 auto;
    margin-bottom: -12px;
    width: 150px;
    height: 200px;
    justify-self: center;
    border-radius: 2px;
    object-fit: cover;
  }

  .cardlink {
    text-decoration: none;
    color: inherit;
  }